html{
  --scrollbarBG:#CFD8DC;
  --thumbBG:#90A4AE;
  
}
body::-webkit-scrollbar{
    width: 11px;
}
body {

  scrollbar-width: thin;
  scrollbar-color:var(--thumbBG) var(--scrollbarBG);
  
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  html {
    background: lightgrey;
    overflow: hidden;
  }
  body {
    height: 100vh;
    background: whitesmoke;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0;
    font: 100%/1.4 serif;
    border: 1px solid rgba(0, 0, 0, 0.25)
  }
  
.nav-bar{
    top:0;
    display: flex;
    background-color:#210253;
}
.nav-bar-items > div{
    display:inline;
    margin:10px;
 
}
.nav-item{
    display:flex;
    justify-content: start;
    list-style-type: none;
    padding:5px;
    display: inline-block;

}
.nav-bar-toggle{
    background-color: #212121;
    width:100%;
    height: 100px;
    display:flex;
    justify-content: start;
    align-items: center;
    display: none;
}
/*controls*/
.controls{
    display:flex;    
    background-color: rgb(200, 200, 200);
    justify-content: space-around;
    
}

.controls-items > div{
    display:inline;
    padding:10px;
}
.control-item{
    display:flex;
    justify-content: start;
    list-style-type: none;
    padding:5px;
    display: inline-block;

}
.control-item a{
    display:block;
    text-decoration: none;
}
.controls-toggle:hover{
    background-color: aliceblue;
    color:#210253;

}
.btn{
    border:2px solid rgb(200, 200, 200);
    color:rgb(0, 0, 0);
    cursor: pointer;
    padding:10px;
    border-radius: 15%;
    background-color: rgb(72, 255, 148);
}
.icons{
    background-color: transparent;
}
/*styling the text tool*/
.text-tool{
    display: flex;
    justify-content: start;
    flex-direction:row;
    flex-wrap: wrap;
}
.text-tool > div{
    flex:50%;
    padding:10px;
    background-color: rgb(214, 214, 214);
}
.dashboard{
    display:flex;
    flex-direction: column;
    
}
.dashboard > div{
    border-bottom: 2.5px solid white;
    padding:5px;
    margin-bottom: 5px;
}
.current-activity{
    flex:25%;
    
    


}
p{
    background-color: aliceblue;
    padding:5px;
    height:150px;
    overflow-y:scroll;
    margin:0px 2.5px 2.5px 2.5px;
    border:2px solid rgb(214, 214, 214);
    border-radius: 10px;

}
.recent-notes{
    flex:50%;
    
}
hr{
    background-color: aliceblue;
    color:aliceblue;
}
/*styling the note displayer*/
.current-section{
    display:flex;
    flex-wrap: wrap;
}
.current-section > p{
    background-color: aqua;
}
.recent-section{
    display:flex;
    flex-wrap: wrap;

}
.recent-section > p{
    background-color: aqua;
}
